* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select, textarea {
    font-family: monospace;
}

input {
    outline: none!important;
}

.hidden {
    display: none;
}


.layout-size {
    width: 33.33%; height: 100%;
    overflow: auto;
    float: left;
    padding: 10px;
    border: 1px solid #eee;
}
.for-copy {
    width: 100px; height: 20px;
    font-size: 0;
}



.input-pair {
    display: block;
}
.input-pair > * {
    display: inline-block;
}
.input-pair > div {
    min-width: 200px;
    margin-right: 4px;
}




.representation, .representation input {
    font-size: 11px;
    line-height: 16px;
    color: #333;
}

.representation > input {
    float: left;
    margin-right: 4px;
}

.representation input {
    border: 0 solid #ddd;
    border-bottom-width: 1px;
}

.layout-size > .representation {
    margin-bottom: 10px;
}
.layout-size > .representation > .title {
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
}
.layout-size > .representation > .values-group {
    margin-bottom: 30px;
}



.values-group {
    padding-left: 20px;
}
